*.iml
.idea/*
out/*
build/*
.gradle/*
gradle/
.DS_Store
client/.DS_Store
client/node_modules/*
client/npm-debug.log
client/src/.DS_Store
client/package-lock.json
client/public/*
cetacea.zip
npm-debug.log
scp
